{% extends 'base.html.twig' %}

{% block title %}Currency conversion{% endblock %}

{% block body %}
<style>
    .wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    #form ul {padding: 0; margin: 0}
    #form li {list-style: none; color: red; padding: 0}

</style>

<div class="wrapper">
    <h1>Currency conversion</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <h2>{{ response }}</h2>
</div>
{% endblock %}
